@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none !important;
}

h4 {
    padding-bottom: 0 !important;
}

body::-webkit-scrollbar {
    display: none;
}

p {
    margin-bottom: 0px !important;
}